.full-size {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-stretch {
    align-items: stretch;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.box-radius-b5 {
    border-radius: 0 0 5px 5px;
}

.boxed {
    border: 1px solid black;
    margin: 0;
}

.boxed-r5 {
    border-radius: 5px;
}

.boxed-r10 {
    border-radius: 10px;
}

.map-size-100 {
    min-height: 80vh;
    min-width: 80vw;
}

.no-text-deco {
    text-decoration: none;
}

.bg-transparent {
    background-color: transparent;
}

.border-none {
    border: none;
}

.ppx-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.mpx-5 {
    margin: 5px;
}

.flat-button {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.pos-relative {
    position: relative;
}

.floating-box {
    position: absolute;
    z-index: 1400;
}


.top-5 {
    top: 5px;
}

.bottom-5 {
    bottom: 5px;
}

.right-5 {
    right: 5px;
}

.left-5 {
    left: 5px;
}

.font-small {
    font-size: small;
}

.bg-white {
    background-color: white;
}

.button {
    width: 40px;
    height: 40px;
    padding: 8px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.tracking-allowed {
    animation: switchButtonImages 6s infinite;
}

@keyframes switchButtonImages {
    0% {
        background-image: url("./forage/assets/images/satellite_animated_0.png");
    }
    33% {
        background-image: url('./forage/assets/images/satellite_animated_1.png');
    }
    66% {
        background-image: url('./forage/assets/images/satellite_animated_2.png');
    }
    100% {
        background-image: url('./forage/assets/images/satellite_animated_0.png');
    }
}

.tracking-denied {
    background-image: url('./forage/assets/images/satellite_notAnimated.png');
}

.locate-me {
    background-image: url('./forage/assets/images/locate_me.png');
}

.w-50 {
    width: 50vw;

    @media (min-width: 768px) {
        width: 25vw;
    }
}

.w-100 {
    width: 80%;
}

.text-black {
    color: black;
}

.bottom-drawer-height {
    height: 50vh;
}